---
import BaseLayout from './BaseLayout.astro';
interface Props { title: string; }
const { title } = Astro.props;
---
<BaseLayout title={title}>
  <div class="mx-auto max-w-6xl">
    <slot />
  </div>
</BaseLayout>
